.darktheme {
  background-color: #181818;
  color: #fff;

  ::v-deep .title {
    color: #fff;
  }
  ::v-deep .header {
    color: #fff;
    background-color: rgba(51, 51, 51, 0.7);
    .header-l {
      .nav-menu {
        .el-menu-item:hover {
          color: #fff;
          background: none;
          text-shadow: 0 2px 8px rgba(255, 255, 255, 0.7);
        }
      }
    }
    .header-r {
      .change-mode:hover {
        background: rgba(24, 24, 24, 0.7);
      }
      .search-input,
      .el-button:hover {
        color: #fff;
      }
    }
  }
  .article-list {
    background-color: rgba(24, 24, 24, 0.7);
    ::v-deep .abstract {
      color: #fff;
    }
  }
  .reply {
    background-color: rgba(51, 51, 51, 0.7);
  }
}
